<div class="container">
  <div class="errors-messages">
     <p id="notice"><%= notice %></p>
  </div>
<br></br>
<table class="table">
  <thead>
    <tr>
      <th><b>姓名</b></th>
      <th><b>电话</b></th>
    </tr>
  </thead>

  <tbody>
    <% @linkmen.each do |linkman| %>
      <tr>
        <td><%= linkman.name %></td>
        <td><%= linkman.number %></td>
       
        <td><%= link_to '编辑', edit_linkman_path(linkman) %></td>
        <td><%= link_to '删除', linkman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</div>